<ion-tabs>
    <ion-tab-bar slot="bottom">
        <ion-tab-button tab="home" href="/tabs/home">
            <ion-icon aria-hidden="true" name="home"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="products" href="/tabs/products">
            <ion-icon aria-hidden="true" name="newspaper-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="messages" href="/tabs/messages">
            <ion-icon aria-hidden="true" name="chatbubble-ellipses-outline"></ion-icon>
        </ion-tab-button>

        <ion-tab-button tab="profile" href="/tabs/profile">
            <ion-avatar *ngIf="users.length > 0" style="width: 30px !important; height: 30px !important;">
                <img alt="" [src]="users[0].image"
                    onerror="this.src='https://ionicframework.com/docs/img/demos/avatar.svg'" />
            </ion-avatar>
            <ion-icon *ngIf="users.length == 0" aria-hidden="true" name="person-outline"></ion-icon>
        </ion-tab-button>
    </ion-tab-bar>
</ion-tabs>