<app-header></app-header>

<ion-content [fullscreen]="true">
    <div style="margin: 0 0 0 0;">
        <ion-grid style="padding: 0 0 !important;">
            <ion-row style="padding: 0 0 0 0;">
                <ion-col size="auto" class="no-padding">
                    <ion-button fill="clear" style="color: rgb(128, 126, 126);" (click)="back()">Back</ion-button>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>
    <div>
        <ion-card class="card-slider">
            <swiper-container [pagination]="true" *ngIf="product.slides && product.slides.length > 0">
                <swiper-slide *ngFor="let slide of product.slides">
                    <img *ngIf="slide" [src]="slide" style="width: 430px; height: 350px;"
                        onerror="this.src='https://st.depositphotos.com/2934765/53192/v/600/depositphotos_531920820-stock-illustration-photo-available-vector-icon-default.jpg'" />
                </swiper-slide>
            </swiper-container>
            <img *ngIf="product.slides.length == 0"
                src="https://st.depositphotos.com/2934765/53192/v/600/depositphotos_531920820-stock-illustration-photo-available-vector-icon-default.jpg"
                style="width: 430px; height: 350px;" />
        </ion-card>
    </div>
    <div style="margin: 20px 0 0 0;">
        <ion-grid class="ion-text-center custom-grid">
            <ion-row class=" header-row" style="padding: 0 10px 0 0;">
                <ion-col style="text-align: left;">
                    <ion-title
                        style="font-weight: bold; color: black; padding: 10px 0 0 0; font-size: 20px;">{{product.name}}</ion-title>
                </ion-col>
                <ion-col size="auto">
                    <ion-button size="small" fill="outline" color="success" style="margin: 0 0 0 0 !important;">
                        Buy Now
                    </ion-button>
                </ion-col>
                <ion-col size="auto">
                    <ion-button size="small" fill="solid" color="success" style="margin: 0 0 0 0 !important; ">
                        Add to Cart
                    </ion-button>
                </ion-col>
            </ion-row>
            <ion-row class="header-row">
                <ion-col style="text-align: left;">
                    <ion-title class="title-primary"
                        style="font-size: 25px; padding: 0 0 0 0;">{{product.country?.currency_symbol}}
                        {{product.price_from}}</ion-title>
                </ion-col>
            </ion-row>
            <ion-row class="header-row" style="margin: 10px 0 0 0;">
                <ion-col style="text-align: left;" class="no-padding">
                    <ion-title class="text-grey" style="font-size: 18px; padding: 0 0 0 0;">View
                        Ratings</ion-title>
                </ion-col>
            </ion-row>
            <ion-row class="header-row">
                <ion-col style="text-align: left;" class="no-padding" (click)="goToRatings()">
                    <app-ratings [rating]="3" [total]="265" [zoom]="1.8" [showTotal]="true"></app-ratings>
                </ion-col>
            </ion-row>
            <ion-row style="margin: 10px 0 0 0;">
                <ion-grid>
                    <ion-row>
                        <ion-col size="auto" class="no-padding" style="padding: 0 0 0 5px !important;">
                            <ion-avatar style="width: 35px !important; height: 35px !important;">
                                <img alt="" [src]="product.user_image"
                                    onerror="this.src=`https://ionicframework.com/docs/img/demos/avatar.svg`" />
                            </ion-avatar>
                        </ion-col>
                        <ion-col class="no-padding" style="padding: 0 0 0 0 !important;">
                            <ion-grid style="margin: 0px !important; padding: 0px !important;">
                                <ion-row>
                                    <ion-col class="no-padding"
                                        style="text-align: left; padding: 0 0 0 15px !important;">
                                        {{product.seller_name}}
                                    </ion-col>
                                </ion-row>
                                <ion-row class="no-padding">
                                    <ion-col style="padding: 0 !important;">
                                        <ion-grid style="margin: 0px !important; padding: 0px !important;">
                                            <ion-row>
                                                <ion-col size="auto" class="no-padding">
                                                    <ion-icon name="location-outline"></ion-icon>
                                                </ion-col>
                                                <ion-col class="no-padding"
                                                    style="text-align: left; font-size: 12px; padding: 2px 0 0 0 !important;">
                                                    {{product.address}}
                                                </ion-col>
                                            </ion-row>
                                        </ion-grid>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                        <ion-col size="auto" class="no-padding" style="padding: 0 0 0 5px !important;">
                            <ion-grid>
                                <ion-row>
                                    <ion-col size="auto">
                                        <ion-button size="small" fill="outline" color="success"
                                            style="margin: 0 0 0 0 !important; ">
                                            <ion-icon slot="icon-only" name="chatbubble-ellipses-outline"></ion-icon>
                                        </ion-button>
                                        <ion-button size="small" fill="outline" color="success"
                                            style="margin: 0 0 0 5px !important; ">
                                            View Shop
                                        </ion-button>
                                    </ion-col>
                                </ion-row>
                            </ion-grid>
                        </ion-col>
                    </ion-row>


                </ion-grid>
            </ion-row>
            <ion-row class="header-row">
                <ion-col style="text-align: center;" class="no-padding background-grey"
                    style="padding: 20px 0 !important;">
                    <ion-button size="small" fill="solid" color="success" style="margin: 0 0 0 0 !important; "
                        (click)="rateProduct()">
                        Rate Product
                    </ion-button>
                </ion-col>
            </ion-row>

            <ion-row class="header-row">
                <ion-col class="no-padding" style="border-bottom: solid 1px #f5f5f5;">
                    <ion-row class="header-row">
                        <ion-col class="no-padding" style="padding: 10px 5px !important; text-align: left;">
                            <ion-title style="font-size: 18px; padding: 0 0 0 0;">Product
                                Details</ion-title>
                        </ion-col>
                        <ion-col class="no-padding" style="padding: 10px 0 !important; text-align: left;">

                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ion-row class="header-row">
                <ion-col class="no-padding">
                    <ion-row class="header-row">
                        <ion-col class="no-padding" style="padding: 10px 5px !important; text-align: left;">
                            <ion-title class="text-grey" style="font-size: 18px; padding: 0 0 0 0;">Product
                                Posted </ion-title>
                        </ion-col>
                        <ion-col class="no-padding" style="padding: 10px 0 !important; text-align: left;">
                            <span style="font-weight: bold;">{{product.date_created | date}}</span>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ion-row class="header-row">
                <ion-col style="text-align: center;" class="no-padding background-grey"
                    style="padding: 0 0 !important;">
                    <ion-row class="header-row" class="background-primary">
                        <ion-col class="no-padding" style="padding: 10px 10px !important; text-align: left;">
                            <ion-title class="text-grey" style="font-size: 18px; padding: 0 0 0 0;">Ships From
                            </ion-title>
                        </ion-col>
                        <ion-col class="no-padding" style="padding: 10px 0 !important; text-align: left;">
                            <span style="font-weight: bold;">{{product.seller_address}}</span>
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>

            <ion-row class="header-row">
                <ion-col class="no-padding">
                    <ion-row class="header-row">
                        <ion-col class="no-padding ion-text-justify"
                            style="padding: 10px 5px !important; text-align: left;">
                            {{product.description}}
                        </ion-col>
                    </ion-row>
                </ion-col>
            </ion-row>
        </ion-grid>
    </div>

</ion-content>